body{
    background: #252323;
}
th,td{
    color:rgba(250,250,250,0);
}
td a {
    padding: 4px;
}

td a:nth-child(2) {
    color: red;
}

td a:nth-child(1) {
    color: green;
}
td{ 
    text-align:center;
}
.page-header{
    color:brown;
}
