.modal-header{
  border-radius:5px 5px 0 0;
}
.dialog-success .modal-header{
  background:#5cb85c;
  border-color:#4cae4c; 
}
.dialog-error .modal-header{
  background: #d9534f;
}
.dialog-warning .modal-header{
  background: #f0ad4e;
  border-color:#eea236;
}
.dialog-info .modal-header{
  background: rgb(91, 192, 222);
  border-color:rgb(70, 184, 218);
}