doctype
html
    head
        meta(name='viewport',content='width=device-width,initial-scale=1')
        link(rel='stylesheet',href='../css/bootstrap.min.css')
        link(rel='stylesheet',href='../css/custom-bootbox.css')
        link(rel='stylesheet',href='../css/index.css')
        script.
            if(typeof module === 'object'){
                window.module = module;
                module = undefined;
            }
        script(src='../javascript/jquery.min.js')
        script(src='../javascript/bootstrap.min.js')
        script(src='../javascript/bootbox.min.js')
        script(src='../renderer.js')
    body
        div(class='container-fluid')
            div(class='page-header')
                h1 Services Manager
            div(class='jumbotron')
                p
                    Manager system services with ease

